
.navbar-custom {
    padding: 5px;
}

.intro {
    background: none !important;
    background-color: black;
}

.intro-body-top {
    vertical-align: top !important;
    padding-top: 60px;
}

.image-background {
   position: relative;
   width: 100%; /* for IE 6 */
}

.header-over-image {
   position: absolute;
   top: 175px;
   left: 0;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
}


#map {
    height:500px;
}

@media (min-width: 767px) {
  .content-section {
    padding-top: 250px;
  }
  #map {
    margin-top: 0px;
  }
}

.container-full-width {
  padding-top: 300px;
}

.btn-default {
    color: white !important;
    border: 1px solid white !important;
    margin-bottom: 20px;
}

.btn-default:hover, .btn-default:focus {
    color: black !important;
    background-color: white !important;

}
